.ui-growl{
    top: 200px;
    border-radius: 10px;
}
.ui-growl-item{
    background-color: black;
    color:white;
}
.ui-growl-image-info{
     background: url('https://raw.githubusercontent.com/2019-2-PROYCVDS-WILDCAT/Proyecto_CVDS/master/img/check.png') no-repeat;
     background-position: -4px -1px; 
}
.table{
    display: block !important;
}
.ui-datalist ul {
    padding: 0px 10px 0 20px;
    margin: 5px 0;
}

.ui-datalist {
    margin-bottom: 10px
}

.ui-noborder tr.ui-widget-content {
    background: none;
}
td:first-child {
    background: url('https://raw.githubusercontent.com/2019-2-PROYCVDS-WILDCAT/Proyecto_CVDS/master/img/plusicon.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td:first-child {
    background: url('https://raw.githubusercontent.com/2019-2-PROYCVDS-WILDCAT/Proyecto_CVDS/master/img/minusicon.png') no-repeat center center;
}