.ui-growl{
    
    border-radius: 10px;
}
.ui-growl-item{
    background-color: black;
    color:white;
}
.ui-growl-image-info{
     background: url('https://raw.githubusercontent.com/2019-2-PROYCVDS-WILDCAT/Proyecto_CVDS/master/img/check.png') no-repeat;
     background-position: -4px -1px; 
}
.table{
    
}
.ui-datalist ul {
    padding: 0px 10px 0 20px;
    margin: 5px 0;
}

.ui-datalist {
    margin-bottom: 10px
}

.ui-noborder tr.ui-widget-content {
    background: none;
}
td:first-child {
    background: url('https://raw.githubusercontent.com/2019-2-PROYCVDS-WILDCAT/Proyecto_CVDS/master/img/plusicon.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td:first-child {
    background: url('https://raw.githubusercontent.com/2019-2-PROYCVDS-WILDCAT/Proyecto_CVDS/master/img/minusicon.png') no-repeat center center;
}
.table-nonfluid {
   width: auto !important;
}
.fg-buttonset{
    background-color: whitesmoke;
    
    border-radius: 5px;
    
}
.fg-button {
    
    color:black;
}
.fg-button:hover{
    background-color: #696969;
    color:white;
    border-radius: 6px;
}
.ui-state-disabled{
    background-color: #696969;
    border-radius: 6px;
    opacity: 0.5;
    color:white;
}
thead{
    font-size: 30px;
}
tr { text-align: left;
     font-size: 20px;
     height: 60px;
}