<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistance.mybatis.mappers.ReservaMapper">
    <resultMap type='Reserva' id='ReservaResult'>
        <id property='id' column='id' />
        <result property='idUsuario' column='id_usuario'/>
        <result property='idRecurso' column='id_recurso'/>
        <result property='fechaInicioReserva' column='fecha_inicio_reserva' />
        <result property='fechaFinReserva' column='fecha_fin_reserva' />
        <result property='tipo' column='tipo' />  
        <result property='activo' column='activa' />  
    </resultMap>
    
    <select id="consultarReservas" resultMap="ReservaResult" parameterType="map">
        SELECT *
        FROM reservas        
    </select>        
    
    <insert id="addReserva" parameterType="map">
        INSERT 
        INTO reservas(id_usuario,id_recurso,fecha_inicio_reserva,fecha_fin_reserva,tipo,activa) 
        VALUES (#{reserva.idUsuario},#{reserva.idRecurso},#{reserva.fechaInicioReserva}, #{reserva.fechaFinReserva},#{reserva.tipo},#{reserva.activo});
    </insert>
    
    <select id="consultarReservasPorId" resultMap="ReservaResult" parameterType="map">
        SELECT *
        FROM reservas
        WHERE id_recurso = #{idRecurso}
    </select>
    
    <select id="reservaDisponibleEnFecha" resultMap="ReservaResult" parameterType="map">
        SELECT COUNT (*)
        FROM reservas       
        WHERE id_recurso = #{idRecurso} AND fecha_inicio_reserva &gt;= #{fechaInicio} AND fecha_fin_reserva &lt;= #{fechaFin}
    </select>    
    <select id="consultarReservasActivasPorId" resultMap="ReservaResult" parameterType="map">
        SELECT *
        FROM reservas
        WHERE id_recurso = #{idRecurso} AND activa = true
    </select>
    
    <update id='cancelarReserva'>
        update reservas
        set activa=false
        where id= #{idReserva} and #{idUsuarioQueCancela} = id_usuario
    </update>    
    <select id="consultarReservasActivasPorUsuario" resultMap="ReservaResult" parameterType="map">
        SELECT *
        FROM reservas
        WHERE id_usuario = #{idUsuario} AND activa = true
        ORDER BY fecha_inicio_reserva
    </select>
                          
    <select id="consultarReservasActivasPorUsuarioEIdReserva" resultMap="ReservaResult" parameterType="map">
        SELECT *
        FROM reservas
        WHERE id_usuario = #{idUsuario} AND activa = true AND id_recurso = #{idReserva}
        ORDER BY fecha_inicio_reserva
    </select>
                          
</mapper>
