<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistance.mybatis.mappers.UserMapper">

	<resultMap type='Usuario' id='UserResult'>
		<id property='correo' column='email' />
		<result property='nombre' column='nombre' />
		<result property='apellido' column='apellido' />
                <result property='tipo' column='tipo_usuario_id' typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />                
	</resultMap>
        
        <select id="consultarUsuario" resultMap="UserResult">
            SELECT u.email, u.nombre, u.apellido
            FROM usuarios as u
            WHERE u.email = #{correo};
	</select>

</mapper>